* {
	box-sizing: border-box;
}

body {
	background-color: lightblue;
}

.banner {

	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;

}

.main-image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	width: 100px;
}



.start-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.start-page__row {
	display: flex;
	flex-direction: row;

}

.title-margin {
	margin-right: 120px;
}

.quiz-form {
	width: 400px;
	margin: 0 auto;
	padding: 40px;
}

.button {
	display: block;
	color: black;
	text-decoration: none;
	background-color: rgba(51, 204, 204, .7);
	border: 1px solid black;
	margin: 10px auto;
	max-width: 60px;
	padding: 5px 8px 5px 8px;
	text-align: center;
	transition: ease-in .15s;
}

.button-margin {
	margin-bottom: 50px;
	font-size: 1.87em;
	max-width: 140px;
}

.button:hover {
	color: white;
	background: rgba(51, 204, 204, 1);
}

.result {
	color: black;
	background-color: rgba(51, 204, 204, .7);
	border: 1px solid black;
	padding: 0 8px 0 8px;
}